* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #b00f0f 0%, #800404 100%);
  box-shadow: 1px 1px 3px 1px #333;
  z-index: 2;
}

h1 {
  color: #eee;
  font-family: 'Codystar', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #eee;
  border-radius: 3px;
  color: #b00f0f;
  cursor: pointer;
  font-size: .9em;
}

.sign-in.active {
  background-color: #800404;
  color: #eee;
}

.arrow {
  display: block;
  margin: 0 0 0 5px;
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
}
