* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #b00f0f 0%, #800404 100%);
  box-shadow: 1px 1px 3px 1px #800000;
  z-index: 2;
}

h1 {
  margin: 10px 0;
  color: #eee;
  font-family: 'Codystar', sans-serif;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
}

.sign-in-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8px 0 5px;
}

.sign-in {
  margin-left: auto;
  padding: 3px 5px;
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 3px;
  color: #b00f0f;
  cursor: pointer;
  font-size: .75em;
  font-family: 'Codystar', sans-serif;
  font-weight: 700;
}

.arrow {
  display: block;
  margin: 0 0 0 2px;
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
}

.welcome {
  margin: 3px 0;
  display: flex;
  align-items: center;
  color: #eee;
  font-size: .75em;
  opacity: .9;
}

.profile {
  display: block;
  margin: 0 3px 0 0;
  height: 15px;
  width: 15px;
}

.view-favorites {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
}

.view-favorites a {
  display: flex;
  align-items: center;
  color: #eee;
  font-size: .75em;
  opacity: .9;
}

.star {
  display: block;
  margin: 0 5px 0 0;
  height: 15px;
  width: 15px;
}
