.movie-details {
  width: 100%;
  margin: 0 auto;
  padding: 160px 0 0 0;
}

.single-movie-poster {
  display: none;
}

.movie-trailer {
  display: block;
  width: 100%;
}

.movie-info {
  width: 95%;
  margin: 0 auto;
  color: #eee;
}
