.movie-details {
  position: absolute;
  top: 131px;
}

.poster {
  display: flex;
  padding: 0 10px 20px 10px;
}

.poster-wrap {
  display: none;
}

.single-movie-poster {
  display: block;
  height: 90%;
  width: 75%;
  max-width: 250px;
  max-height: 360px;
}

.remove-btn {
  margin: 10px 0 0 0;
  padding: 5px;
  width: 105px;
  display: block;
  background-color: #b00f0f;
  border-radius: 3px;
  border-style: none;
  color: #eee;
  cursor: pointer;
}

.audience {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}

.movie-display {
  height: 220px;
}

.movie-trailer {
  display: block;
  width: 100%;
  height: 100%;
}

.movie-info {
  background-color: #fdfdfd;
  color: #333;
}

.movie-details h3 {
  margin: 0;
  padding: 5px 10px;
  background-color: rgba(221, 189, 24, 1);
  color: #eee;
  text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.6);
}

.overview {
  margin: 0;
  padding: 10px 0;
  font-family: 'Open Sans', sans-serif;
}

.popcorn-icon,
.reel-icon {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 10px 0 0;
}

.ratings p {
  margin: 0 0 10px 0;
  font-family: 'Codystar', sans-serif;
  text-transform: uppercase;
}

.icon-wrap {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}

@media screen and (min-width: 630px) {

  .movie-details {
    width: 100%;
  }

  .movie-display {
    height: 400px;
  }

  .poster-wrap {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .poster {
    padding: 15px 10px 0 10px;
  }

  .audience {
    width: 60%;
  }

  .ratings-wrap {
    display: flex;
  }

  .ratings {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .overview {
    order: 3;
  }

  .remove-btn {
    order: 4;
  }

}

@media screen and (min-width: 900px) {
  .audience {
    margin-left: -50px;
  }
}
